
<div class=" intro-2">
  <br><br><br><br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10"> 
      <table class="tftable" border="1">
      <tr>
        <th class="table-active" scope="col">Intitulé du projet</th>
        <th class="table-active" scope="col">bénéficiaire</th>
        <th class="table-active" scope="col">Description</th>
        <th class="table-active" scope="col">Technologie</th>
        <th class="table-active" scope="col">Base de donnée</th>
   
      </tr>
      <tr class="table-striped">
        <td><b>Wincar Desktop</b></td>
        <td><b>Auto Hall Maroc</b></td>
        <td><b>Gestion du service aprés vente et du magasin pour la société auto hall maroc</b></td>
        <td><b>C#</b></td>
        <td><b>Sql Server</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>Wincar Web</b></td>
        <td><b>Auto Hall Maroc</b></td>
        <td><b>Gestion du service aprés vente et du magasin pour la société auto hall maroc</b></td>
        <td><b>C# Asp.net Core 2.2</b></td>
        <td><b>Sql Server</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>Brabus Car</b></td>
        <td><b>Agence de location brabus car maroc</b></td>
        <td><b>Site web pour l'agence de location de véhicule brabus car maroc </b></td>
        <td><b>C# Asp.net Core 2.2</b></td>
        <td><b>-</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>مستشاري الخاص</b></td>
        <td><b>Particulier</b></td>
        <td><b>Projet de réalisation d’une application de conseiller juridique (Angular 8 Ionic 4 Asp Core et Entity framework core).
        </b></td>
        <td><b>Angular 8 Ionic 4 Asp Core et Entity framework core</b></td>
        <td><b>-</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>البارع</b></td>
        <td><b>Dar El-Bachir Quran</b></td>
        <td><b>Projet de réalisation d’une application mobile (Java Android) pour Dar El-Bachir Quran </b></td>
        <td><b>C# Asp.net Core 2.2</b></td>
        <td><b>-</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>Cardebate</b></td>
        <td><b>Yos Etudes</b></td>
        <td><b>Comparateur Automobile et platforme de vente de voiture d'occasion </b></td>
        <td><b>Laravel 7 Angular 9</b></td>
        <td><b>Sqlite</b></td>

      </tr>
      <tr class="table-striped">
        <td><b>Dacia HRM</b></td>
        <td><b>Dacia Maroc (PFA)</b></td>
        <td><b>Application web de gestion du service ressources humaine de la société Dacia Maroc </b></td>
        <td><b>Laravel 7 Angular 9</b></td>
        <td><b>MySql</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>GestHeitec</b></td>
        <td><b>Groupe Scolaire Heitec</b></td>
        <td><b>Application bureau de gestion des absences et formations et notes pour le groupe scolaire heitec </b></td>
        <td><b>C#</b></td>
        <td><b>SqlServer</b></td>

      </tr>

      <tr class="table-striped">
        <td><b>Mia's Design</b></td>
        <td><b>Particulier</b></td>
        <td><b>CMS site de design et de mode </b></td>
        <td><b>Wordpress</b></td>
        <td><b>-</b></td>

      </tr>

    </table></div>
    <div class="col-1"></div>
   
  </div>
</div>
