<!--Intro Section-->
<section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="text-center text-md-left mb-5">
              <div class="white-text">
                <h1 class="display-3 font-weight-bold white-text mb-0 pt-md-8 pt-8"> 𝕺𝖒𝖆𝖗 𝕭𝖊𝖓𝖍𝖆𝖒𝖎𝖉𝖆</h1>             
                   <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                   <h4 class="display-5 font-weight-bold white-text mb-0 pt-md-8 pt-8">DEVELOPPEUR FULL STACK , CRÉATION DES SITES ET APPLICATIONS WEB ET MOBILE ET LOGICIEL.</h4>
                   <h4 class="display-5 font-weight-bold white-text mb-0 pt-md-8 pt-8" >Eléve Ingénieur Et Developpeur Full Stack </h4>

                <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                  <button  mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect [routerLink]="['/cv']" routerLinkActive="router-link-active">Jettez un oeil sur le CV</button>

         
              </div>
            </div>

         
          </div>
        </div>
      </div>
    </div>
  </section>