<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://1.bp.blogspot.com/--oqKCruHkow/XSodQdfR1XI/AAAAAAABKsg/2MNfaLEUY-w4q4CVrCGFl4aPsG-tr1WTgCKgBGAs/s1600/57649306_2393980294165520_8397051940063674368_n.jpg)"></div>
    
     
    </div>
    <div class="description">
      <h1>Omar BENHAMIDA</h1>
      <h2>Eléve Ingénieur Et Developpeur Full Stack</h2>
      <p> <i class="fas fa-phone-alt"></i> : +212 6 61 81 17 22</p>
      <p> <i class="fas fa-at"></i> : Omar.benhamida.omar@gmail.com</p>
      <p> <i class="fas fa-envelope"></i> : omar.benhamida-etu@etu.univh2c.ma</p>
      <p> <i class="fab fa-github"></i> : https://github.com/OmarBenhamida</p>
      <p> <i class="fab fa-linkedin"></i>: https://www.linkedin.com/in/omar-benhamida-86353b121</p>

   
    </div>
  </div>
 